In [16]:
%run functions.py

import os

In [24]:
url1 = 'https://www.sports-reference.com/cfb/years/'
year = 2022
url2 = '-schedule.html'
url = url1+str(year)+url2 

fbs = pd.read_csv(os.getcwd() +"\\FBS.csv")


week = 20

hfa = minimize_scalar(error_hfa, args=(url, week), method='brent', tol=0.001)['x']
decay = minimize_scalar(error_decay, bounds=(1/5,1), args=(hfa, url, week), method='bounded')['x']

hyperparameters = {
  "home_adv": hfa,
  "decay_rate": decay
}


underwood = get_underwood(year, week = week, hyperparameters = hyperparameters)
worster = get_worster(year, week = week)

underwood = underwood[underwood['team'].isin(fbs['team'])].reset_index(drop = True)
underwood.insert(loc=0, column='rank', value=range(1,132))

worster = worster[worster['team'].isin(fbs['team'])].reset_index(drop = True)
worster.insert(loc=0, column='Rank', value=range(1,132))

underwood.columns = ['Rank', 'Team', 'Rating', 'Std Dev']

graph_data = get_graph_data(2022, hyperparameters = hyperparameters)

underwood.to_csv("underwood.csv",index=False)
worster.to_csv("worster.csv", index=False)
graph_data.to_csv("graph_data.csv", index = False)

In [22]:
underwood

     Rank            Team     Rating   Std Dev
0       1      Ohio State  42.300941  7.455314
1       2         Georgia  38.800385  8.285099
2       3         Alabama  37.271311  7.315023
3       4       Tennessee  34.575200  7.607426
4       5        Michigan  33.482475  6.770511
..    ...             ...        ...       ...
126   127           Akron -12.971390  7.414783
127   128        Colorado -13.145389  6.856891
128   129  Colorado State -14.329765  6.577856
129   130          Hawaii -14.331847  8.073214
130   131   Massachusetts -19.166682  6.995290

[131 rows x 4 columns]